/node_modules/
/.vite/
/mi-primer-repositorio/
.DS_Store
bandera_de_espanya_multicural.png
index.html
package-lock.json
package.json
vite.config.js
components/
.github/
# repositorios de soluciones:
soluciones/01
soluciones/02
